@{
    ViewBag.Title = "Home";
}

<hgroup class="title">
    <h1>Welcome to the Hello World Samples</h1>
</hgroup>

<p>
    This sample demonstrates a .NET application stack using a Service Layer architecture that ties into a Repository pattern which processes backend queries through LINQ to SQL.
</p>
<p>
    To continue head over to the @Html.ActionLink("Comments", "Index", "Comments") controller where you will be able to do all normal CRUD (Create, Retrieve, Update, and Delete) operations.
</p>
<p>
    This project uses the following technologies:
    <ul>
        <li>ASP.NET using C# and MVC 3.0 - <a href="http://asp.net/" target="_blank">http://asp.net/</a></li>
        <li>jQuery - <a href="http://jquery.com/" target="_blank">http://jquery.com/</a></li>
        <li>jQuery UI - <a href="http://jqueryui.com/" target="_blank">http://jqueryui.com/</a></li>
        <li>jQuery UI Notify widget - <a href="http://www.erichynds.com/jquery/a-jquery-ui-growl-ubuntu-notification-widget/#faq" target="_blank">http://www.erichynds.com/jquery/a-jquery-ui-growl-ubuntu-notification-widget/#faq</a></li>
        <li>Modernizr - <a href="http://modernizr.com/" target="_blank">http://modernizr.com/</a></li>
        <li>Moq - <a href="http://code.google.com/p/moq/" target="_blank">http://code.google.com/p/moq/</a></li>
    </ul>
</p>
<p>
    Images and styles are from the MVC 4.0 default template.
</p>